<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ asset('CSS/app.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/icon.png') }}">
    
    <title>{% block title %}Series{% endblock %}</title>
</head>
<body>
{% include 'include/nav.html.twig' %}
<header>
    <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}"></a></h1>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    {% include 'include/nav.html.twig' %}
    {{ "now" | date('Y') }} Serie
</footer>

</body>
</html>